<button mat-flat-button color="primary"
        (click)="goToPage('register')"
> Регистрация
</button>
<button mat-flat-button color="primary"
        (click)="goToPage('login')"
>Авторизация
</button>

<h2><b>Список пользователей:</b></h2>

<mat-card *ngFor="let user of userData">
  <mat-card-header>
    <div mat-card-avatar><img style="width: 110%" src="{{user.avatar}}"></div>
    <mat-card-title (click)="open(user.id)" class="name">{{user.first_name}} {{user.last_name}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <button mat-mini-fab color="primary"
            (click)="deleteUser(user.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
</mat-card>


<h2><b>Список ресурсов:</b></h2>

<table class="table">
  <thead>
  <tr>
    <th>№</th>
    <th>Name</th>
    <th>Year</th>
    <th>Color</th>
    <th>Pantone_value</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let resource of resourceData">
    <td>{{resource.id}}</td>
    <td>{{resource.name}}</td>
    <td>{{resource.year}}</td>
    <td>{{resource.color}}</td>
    <td>{{resource.pantone_value}}</td>
  </tr>
  </tbody>
</table>
